html,
body {
  overflow-x: hidden;
}

footer {
  width: 100%;
  background-color: #fff;
}

.rodape {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px 40px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
}

.informacoes-contato {
  display: flex;
  flex-direction: column;
}

.politicas {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.politicas img {
  height: 65px;
  width: 65px;
}

.politica-hover a {
  font-size: 0.9rem;
  text-decoration: none;
  color: black;
}

.politica-hover:hover a {
  color: #AA8ED6;
}

.forma-pagamento {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.forma-pagamento img {
  height: 25px;
  width: 37px;
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.redes-sociais h2 {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(42, 39, 39);
  margin-bottom: 10px;
}

.icones-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.icones a {
  font-size: 1.25rem;
  color: #AA8ED6;
  padding: 6px;
  border-radius: 30%;
  transition: background-color 0.3s, color 0.3s;
}

.icones a:hover {
  background-color: #AA8ED6;
  color: #fff;
}

.direitos-autorais {
  text-align: center;
  margin: 20px;
  width: 100%;
}

.direitos-autorais-estilo h3 {
  font-size: 0.9rem;
  font-weight: normal;
}

.cadastro-email {
  text-align: center;
  padding: 30px 20px;
}

.cadastro-email p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.email-desconto {
  display: inline;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid black;
}

.cadastro-email .email-desconto label {
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 0.9rem;
}

.cadastro-email .email-desconto input[type="email"] {
  padding: 10px;
  border: none;
  width: 300px;
  max-width: 100%;
  font-size: 0.9rem;
  outline: none;
}

.destaque-texto {
  color: #AA8ED6;
}

.linha-rodape {
  margin-left: 100px;
  margin-right: 100px;
}

.banner-rodape {
  position: relative;
}

.banner-rodape img {
  margin-top: 50px;
  width: 100%;
  height: 25vh;
  object-fit: cover;
  display: block;
}

.banner-rodape div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 30%;
  max-width: 400px;
  min-width: 200px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.texto-banner-rodape a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
}

.texto-banner-rodape a:hover {
  color: #AA8ED6;
}

@media (max-width: 768px) {
  footer {
    padding: 0;
  }

  .rodape {
    flex-direction: column;
    align-items: center;
    padding: 20px 15px;
  }

  .politicas {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .politicas img {
    width: 30%;
    height: 30%;
  }

  .icones-flex {
    justify-content: center;
  }

  .redes-sociais {
    align-items: center;
    margin: 25px;
    margin-bottom: 0;
  }

  .direitos-autorais {
    margin: 20px 10px;
  }

  .cadastro-email p {
    font-size: 1rem;
  }

  .forma-pagamento {
    justify-content: center;
  }

  .cadastro-email .email-desconto label {
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 0;
    font-size: 0.9rem;
    background-color: #AA8ED6;
    padding: 7px;
    border-radius: 4px;
    color: #fff;
  }

  .email-desconto {
    border-bottom: none;
  }

  .cadastro-email .email-desconto input[type="email"] {
    text-align: center;
    border-radius: 0;
    border-bottom: 1px solid black;
  }

  .linha-rodape {
    margin-left: 25px;
    margin-right: 25px;
  }

  .banner-rodape img {
    height: 15vh;
  }

  .banner-rodape div {
    width: 70%;
  }

  .texto-banner-rodape a {
    font-size: 1.1rem;
  }

}

@media (max-width: 480px) {
  .banner-rodape div {
    width: 85%;
  }

}