.form-container {
    background-color: #f1f1f1;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 70px 60px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: bold;
}


input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    box-sizing: border-box;
    height: 44px;
}

.input-text {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;

}

.input-error {
    border-color: #e74c3c !important;
    box-shadow: 0 0 5px #e74c3c;
}

.input-success {
    border-color: #2ecc71 !important;
    box-shadow: 0 0 5px #2ecc71;
}

.error-message {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 3px;
    display: block;
}

.input-wrapper {
    position: relative;
}

.valid-icon,
.error-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    display: none;
}

.valid-icon {
    color: #2ecc71;
}

.error-icon {
    color: #e74c3c;
}

.senha-container {
  position: relative;
  height: 44px; 
}

.senha-container input[type="password"],
.senha-container input[type="text"] {
  width: 100%;
  padding: 12px 40px 12px 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
  height: 44px;
}


.senha-container .senha-visibilidade {
    color: #555;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 25px;
    height: 25px;
}

.captcha {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.captcha-icon {
    width: 45px;
}

.criar-conta,
.calcular-frete {
    margin-top: 5px;
    background-color: #8cb0ea;
    color: #fff;
    padding: 16px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.criar-conta:hover {
    background-color: #395895;
}

.login-link {
    margin-top: 25px;
    text-align: center;
    font-size: 14px;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link:hover a {
    color: #00bbff;
    text-decoration: none;
}

@media (max-width: 992px) {
    .form-container {
        padding: 60px 40px;
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .form-container {
        padding: 50px 25px;
        margin-top: 40px;
    }

    h1 {
        font-size: 28px;
    }

    .criar-conta,
    .calcular-frete {
        font-size: 15px;
        padding: 14px;
    }
}

@media (max-width: 480px) {
    .form-container {
        padding: 40px 20px;
        margin-top: 40px;
    }

    h1 {
        font-size: 24px;
    }

    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="number"],
    input[type="text"] {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
        box-sizing: border-box;
        height: 44px;
    }

    .criar-conta,
    .calcular-frete {
        font-size: 14px;
        padding: 12px;
    }

    .senha-container .senha-visibilidade {
        width: 20px;
        right: 10px;
    }
}