.grade {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}

.grade-selecao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grade-selecao img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.grade-selecao a {
  margin-top: 10px;
  font-size: 20px;
  font-family:sans-serif;
}