.pre-nav {
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
}

.logo img {
  width: 70px;
  max-width: 100%;
  margin-left: 92%;
}

.barra-de-pesquisa {
  flex: 1;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  max-width: 500px;
  min-width: 150px;
  height: 40px;
}

.barra-de-pesquisa input {
  flex: 1;
  border: none;
  padding: 10px 15px;
  outline: none;
  width: 100%;
}

.barra-de-pesquisa button {
  background: none;
  border: none;
  padding: 10px 15px;
  color: #AA8ED6;
  cursor: pointer;
}

.icones-nav{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap:20px;
  margin-right: 1%;
}

.icones-pre-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icones-pre-nav a{
  text-decoration: none;
}

.icones-pre-nav i{
  color: black;
  font-size: 1rem;
  padding: 7px;
}

.link-texto a{
  color: black;
  font-weight: bold;
  font-size: 0.8rem;
}

.icones-pre-nav i:hover{
  border-radius: 5px;
}

.link-texto a:hover{
  color: #AA8ED6;
}

.navbar-navbar-cor {
  background-color: #AA8ED6;
}

.navbar-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 65px;
}

.navbar-div-menu ul {
  display: flex;
  margin: 0;
  margin-left: 8%;
  padding: 0;
  list-style: none;
  align-items: center;
}

.navbar-div-menu li {
  padding: 10px;
}

.navbar-div-menu a {
  text-decoration: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
}

.navbar-div-menu a:hover {
  background-color: #fff;
  color: #AA8ED6;
}

.navbar-div-contato-lingua span {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  padding-right: 13px;
}

.navbar-div-contato-lingua i {
  padding: 7px;
}

.navbar-div-contato-lingua span {
  color: #fff;
}

.telefone {
  background-color: #fff;
  color: #AA8ED6;
  border-radius: 100%;
}

.telefone:hover {
  background-color: gray;
  color: #fff;
}

.submenu {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu-toggle {
  display: block;
  padding: 10px 15px;
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
}

.submenu:hover{
  .submenu-toggle{
   color: #AA8ED6; 
  }
  background-color: #fff;
  color: #AA8ED6;
}

.submenu-items {
  position: absolute;
  top: 100%;
  left: 0;
  background: #ffffff;
  min-width: 150px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  border-radius: 4px;
  padding: 10px 0;
  list-style: none;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.3s ease;
  z-index: 100;
}

.submenu-items li a {
  display: block;
  padding: 8px 10px;
  color: #555;
  text-decoration: none;
  transition: all 0.2s ease;
}

.submenu-items li a:hover {
  background: #f5f5f5;
  color: #AA8ED6;
}


.submenu.active .submenu-items{
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #AA8ED6;
}

@media (max-width: 1024px) {
  .pre-nav {
    gap: 10px;
    padding: 10px;
  }
  
  .navbar-navbar {
    padding: 0 10px;
  }
  
  .navbar-div-menu li {
    padding: 5px;
  }
  
  .navbar-div-menu a {
    padding: 5px;
    font-size: 0.9rem;
  }

}

@media (min-width: 825px) {
  .submenu:hover .submenu-items {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }

  .submenu .submenu-toggle {
    pointer-events: none; 
  }
}

@media (max-width: 825px) {
  .pre-nav {
    flex-wrap: wrap;
  }

  .menu-toggle {
    display: block;
    order: 2;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .div-toggle{
    display: flex;
    justify-content: space-around;
    background-color: #f3f3f3;
  }
  
  .icones {
    order: 3;
    margin-left: auto;
  }
  
  .navbar-navbar {
    flex-direction: column;
    margin-top: 91px;
  }
  
  .navbar-div-menu {
    display: none;
    width: 100%;
  }
  
  .navbar-div-menu.active {
    display: block;
  }
  
  .navbar-div-menu ul {
    flex-direction: column;
  }
  
  .navbar-div-menu li {
    width: 100%;
    padding: 10px;
    border-bottom: 0.3px rgb(138, 135, 135) solid;
    text-align: left;
  }
  
  .navbar-div-contato-lingua {
    display: none;
  }

  .barra-de-pesquisa {
    display: none;
  }

}

@media (max-width: 450px) {
  .icones-pre-nav {
    margin: 0 3px;
    padding: 5px;
  }

  .logo{
    width: 30%;
    height: 30%;
  }

  .logo img {
    margin-left: 4%;
  }

  .icones-nav{
    gap:5px;
    margin: 0;
  } 

   .icones-pre-nav i{
    font-size: 1.1rem;
  }

  .link-texto a{
    font-size: 0.9rem;
  }
  
}